.footer {
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    .link {
      background: var(--shade-2);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 5px 15px;
      border-radius: 100px;
      color: var(--shade-7);
      transition: 0.3s ease all;
      text-decoration: none;

      .icono {
        height: 40px;
        width: 40px;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        .icono {
          svg {
            color: #fff;
          }
        }
      }

      &.site:hover {
        background: #ff0000;
        color: #fff;
      }
      &.linkedin:hover {
        background: #0a66c2;
        color: #fff;
      }
      &.instagram:hover {
        background: #c13584;
        color: #fff;
      }
    }
  }

  .copyright {
    color: var(--shade-4);
    font-size: 14px;
    text-align: center;
  }
}
